apiVersion: v1
kind: Secret
metadata:
    name: "secret-{{ secret_name }}"
    namespace: "{{ secret_namespace }}"
data:
    {% for key, value in secret_content.items() %}
    {{ key }}: {{ value | b64encode }}
    {% endfor %}
